<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<title>{{data.invoiceNumber}}</title>

	<style>
	{{{css}}}
	</style>

	</head>
	<body>
		<div class="page">
			<header>
				<section class="row">
					<div class="col">
						<svg width="185" height="36" viewBox="0 0 185 36" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M60.6978 13.8224L62.9129 12.6736C61.7948 10.3762 59.4109 9.71673 57.1114 9.71673C54.3899 9.738 51.3942 10.9931 51.3942 14.0564C51.3942 17.3962 54.179 18.2045 57.1958 18.5662C59.1577 18.7789 60.6134 19.3533 60.6134 20.7573C60.6134 22.374 58.9679 22.9909 57.2169 22.9909C55.4237 22.9909 53.7148 22.2676 53.0608 20.6296L50.7402 21.8422C51.8373 24.5651 54.1579 25.5011 57.1747 25.5011C60.4657 25.5011 63.377 24.0758 63.377 20.7573C63.377 17.2047 60.5079 16.3964 57.4278 16.0135C55.6557 15.8007 54.1368 15.4391 54.1368 14.1415C54.1368 13.0353 55.1283 12.1631 57.1958 12.1631C58.7991 12.1631 60.1915 12.9715 60.6978 13.8224ZM72.5478 25.1182H75.1215V19.5022C75.1215 18.1195 75.9865 16.9069 77.3789 16.9069C78.7712 16.9069 79.3408 18.0769 79.3408 19.4596V25.1182H81.9146V19.4596C81.9146 16.3113 80.4589 14.4818 77.5054 14.4818C76.1553 14.4818 74.9528 14.9073 74.0245 16.3964C73.4338 14.9498 72.1891 14.4393 70.9444 14.4393C69.9529 14.4393 68.7504 14.8222 68.2019 15.8858L68.012 14.6095H65.6281V25.1182H68.2019V19.5022C68.2019 18.1195 69.0246 16.8644 70.417 16.8644C71.8305 16.8644 72.5478 18.1195 72.5478 19.5022V25.1182ZM92.8574 14.6307L92.773 16.0773C92.1823 15.0349 90.8533 14.3755 89.4609 14.3755C86.423 14.3542 84.0391 16.2475 84.0391 19.8638C84.0391 23.544 86.3175 25.4585 89.3976 25.4373C90.5579 25.416 92.1823 24.8204 92.773 23.5865L92.8996 25.1182H95.3257V14.6307H92.8574ZM86.6129 19.8638C86.6129 17.8642 87.9841 16.6942 89.6929 16.6942C93.7435 16.6942 93.7435 23.0547 89.6929 23.0547C87.9841 23.0547 86.6129 21.8635 86.6129 19.8638ZM99.9607 14.6307H97.5768V25.1182H100.151V19.5873C100.151 17.6515 101.395 16.9282 102.745 16.9282C103.589 16.9282 104.075 17.1622 104.602 17.6089L105.762 15.354C105.193 14.7796 104.159 14.3542 103.083 14.3542C102.028 14.3542 100.952 14.5456 100.151 15.8433L99.9607 14.6307ZM111.093 11.6738L108.52 11.9504V14.652H106.579V16.8856H108.52V21.4167C108.52 24.0333 109.996 25.3309 112.254 25.2458C113.034 25.2245 113.646 25.0969 114.384 24.7991L113.667 22.5867C113.287 22.7782 112.823 22.9058 112.422 22.9058C111.621 22.9058 111.072 22.4165 111.072 21.4167V16.8856H113.963V14.652H111.093V11.6738ZM126.677 14.6307H123.829L121.931 19.2256L120.855 22.1187L119.863 19.1618L118.281 14.6307H115.285L119.441 24.948L117.5 29.5004H120.327L126.677 14.6307ZM135.025 25.1182H137.599V19.5022C137.599 18.1195 138.464 16.9069 139.856 16.9069C141.249 16.9069 141.818 18.0769 141.818 19.4596V25.1182H144.392V19.4596C144.392 16.3113 142.937 14.4818 139.983 14.4818C138.633 14.4818 137.43 14.9073 136.502 16.3964C135.911 14.9498 134.667 14.4393 133.422 14.4393C132.431 14.4393 131.228 14.8222 130.68 15.8858L130.49 14.6095H128.106V25.1182H130.68V19.5022C130.68 18.1195 131.502 16.8644 132.895 16.8644C134.308 16.8644 135.025 18.1195 135.025 19.5022V25.1182ZM154.401 18.162V12.8864H158.578C162.122 12.8864 162.143 18.162 158.578 18.162H154.401ZM158.578 20.736C165.814 20.736 165.793 10.206 158.578 10.206C157.417 10.206 156.257 10.2113 155.097 10.2166C153.936 10.222 152.776 10.2273 151.616 10.2273V25.1182H154.401V20.736H158.578ZM167.706 14.6307H165.322V25.1182H167.896V19.5873C167.896 17.6515 169.141 16.9282 170.491 16.9282C171.335 16.9282 171.82 17.1622 172.347 17.6089L173.508 15.354C172.938 14.7796 171.904 14.3542 170.828 14.3542C169.774 14.3542 168.698 14.5456 167.896 15.8433L167.706 14.6307ZM184.894 19.8851C184.894 16.8856 182.763 14.418 179.451 14.418C176.139 14.418 174.071 16.8856 174.071 19.8851C174.071 22.9058 176.096 25.3522 179.472 25.3522C182.847 25.3522 184.894 22.9058 184.894 19.8851ZM176.645 19.8851C176.645 18.3109 177.615 16.7793 179.472 16.7793C181.202 16.7793 182.299 18.3109 182.299 19.8851C182.299 21.4805 181.349 22.9696 179.472 22.9696C177.594 22.9696 176.645 21.4805 176.645 19.8851Z" fill="#2D313D"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M38.8556 18.0323C38.8624 25.7483 34.0157 32.6115 26.804 35.0979C20.8066 37.0754 14.2255 35.7534 9.42726 31.6071L9.20587 31.4127L9.09174 31.3012C8.71911 30.9556 8.36229 30.5898 8.01855 30.2115C18.1257 32.9311 32.8755 31.3842 33.7062 24.4718C34.0061 21.9448 32.4636 19.3719 28.8102 18.0251C28.7346 17.9972 26.977 17.2625 17.9453 14.8873C16.6518 14.4105 15.6899 13.7262 15.6897 12.3205C15.7023 9.01955 21.2128 7.22476 27.764 6.9676C29.9742 6.93066 32.1845 7.03835 34.381 7.28999L35.3912 7.4108L35.4366 7.42753C37.714 7.71025 39.9708 8.1423 42.193 8.72097C40.4405 9.01054 38.7377 9.55135 37.1358 10.3271C38.2673 12.7341 38.8548 15.3664 38.8556 18.0323ZM26.4958 23.6791C26.4982 26.9856 20.9802 28.7776 14.3933 29.039C12.183 29.0759 9.97274 28.9682 7.77621 28.7166L6.77356 28.5986L6.72818 28.5818C4.46004 28.2962 2.21259 27.8619 0 27.2814C1.75475 26.9928 3.46006 26.4529 5.06476 25.6781C2.88241 21.039 2.76341 15.676 4.73782 10.9423C6.71222 6.20863 10.5914 2.55644 15.3966 0.907324C21.4076 -1.08088 28.0071 0.247289 32.8111 4.41204L33.0249 4.60366L33.0875 4.7395C33.4677 5.0879 33.8245 5.4537 34.1682 5.83203C24.0673 3.07134 9.30925 4.64115 8.47924 11.5278C8.17935 14.0548 9.72182 16.6277 13.3752 17.9745C13.4509 18.0024 15.216 18.7399 24.2401 21.1123C25.5198 21.6274 26.4955 22.2734 26.4958 23.6791Z" fill="#5874C9"/>
						</svg>
					</div>
					<div class="col meta">
						<div>
							<span>Invoice</span>
							<span class="invoice-number">{{data.invoiceNumber}}</span>
						</div>
						<div>
							<span>To agreement</span>
							<span>{{data.agreement}}</span>
						</div>
						<div>
							<span>Period:</span>
							<span>{{data.periodMonth}}</span>
						</div>
						<div>
							<span>Date:</span>
							<span>{{data.date}}</span>
						</div>
					</div>
				</section>
			</header>
			<main>
				<section class="row parties">
					<div class="col">
						<h2>Bill From</h2>
						{{#each data.billFrom}}
							<p>{{this}}</p>
						{{/each}}
					</div>
					<div class="col">
						<h2>Bill From</h2>
						{{#each data.billTo}}
							<p>{{this}}</p>
						{{/each}}
					</div>
				</section>
				<section class="invoice">
					<table>
						<thead>
							<th>item</th>
							<th>hours</th>
							<th>price</th>
						</thead>
						<tbody>
							{{#each data.items}}
								<tr class="{{this.type}}">
									<td>{{this.title}}</td>
									<td>{{this.hours}}</td>
									<td>{{this.price}}</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</section>

				<section class="notes">
					<h2>Special Notes and Instructions</h2>
					{{#each data.notes}}
					<p>{{this}}</p>
					{{/each}}
				</section>
			</main>
			<footer>
				<section>
					<p>Thank you for doing business with us!</p>
				</section>
			</footer>
		</div>
	</body>
</html>
